body {
    height: 100vh;
    background-color: brown;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: cornflowerblue;
    width: 32%;
    height: 32%;
    border-radius: 10px;
    border-style: none;
    font-size: 4em;
    font-weight: 1000;
    text-align: center;
    padding-bottom: 10%;
    display: inline-block;
    /* color: transparent; */
}

button:hover {
    background-color: gray;
    border-radius: 20px;
}

.butt {
    height: 40%;
    color: antiquewhite;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10%;
}